/*----------------------------------------------------------------------*/
/* NAMESPACE GROUP ID | GITLAB                                       */
/*----------------------------------------------------------------------*/
namespace_id = ""
/*----------------------------------------------------------------------*/
/* REPOSITORY DATA | GITLAB                                       */
/*----------------------------------------------------------------------*/
name_repository = ""
description     = ""
/*----------------------------------------------------------------------*/
/* BRANCHES | GITLAB                                       */
/*----------------------------------------------------------------------*/
branches = {}

/*----------------------------------------------------------------------*/
/* VARIABLES | GITLAB                                       */
/*----------------------------------------------------------------------*/
envs                = "export environment=testing"
variables_gitlab_ci = {
    NEW_VAR = {
        value = "",
        description = "",
        variable_type = ""
    }
}

/*----------------------------------------------------------------------*/
/* SENTRY | GITLAB                                       */
/*----------------------------------------------------------------------*/
platform = " "
teams    = []
create_sentry=false







