# Config
REPOSITORY=${REPOSITORY}

# Gitlab remote state
TF_VAR_GITLAB_USERNAME=<your-username>
TF_VAR_GITLAB_ACCESS_TOKEN=<your-token-access>
TF_VAR_GITLAB_TOKEN=<your-token-access>

TF_STATE_PROJECT_ID=<STATE_PROJECT_ID>
TF_STATE_ENVIRONMENT=${REPOSITORY}
TF_HTTP_LOCK_METHOD=POST
TF_HTTP_UNLOCK_METHOD=DELETE
TF_HTTP_RETRY_WAIT_MIN=5
TF_HTTP_USERNAME=$TF_VAR_GITLAB_USERNAME
TF_HTTP_PASSWORD=$TF_VAR_GITLAB_ACCESS_TOKEN

# Project type
TF_VAR_PROJECT_TYPE=$PROJECT_TYPE
PROJECT_TYPE=$PROJECT_TYPE_FORMAT

#Terraform log
TF_LOG=INFO

